
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=buni.pdf
Comment=Open '/home/mdd/Dropbox/CHAR/buni.pdf'
Icon=application-pdf
Name[en_US]=buni.pdf
Comment[en_US]=Open '/home/mdd/Dropbox/CHAR/buni.pdf'
Icon[en_US]=application-pdf
URL=file:///home/mdd/Dropbox/CHAR/buni.pdf
Type=Link
